@import "../global/variables.less";

.button {
  text-decoration: none;
  color: @basic-white;
  border: none;
  background-color: @basic-blue-blue;
  outline: none;
}

.search__button {
  padding: 14px 32px 17px 32px;
}
