@import "../global/variables.less";

.main-nav {
  margin: 0;
  background-color: @basic-blue-blue;
}

.nav-link {
  font-size: 18px;
  line-height: 40px;
  color: @basic-white;
  text-decoration: none;
}
