@import "../global/variables.less";

.page-footer {
  background-color: @basic-white;
}

.search {
  &__title {
    font-size: 21px;
    line-height: 26px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: @basic-dark-grey;
  }
}

.footer-contact-list {
  list-style-type: none;
}

.social-networks-list {
  &__item {
    display: inline-block;
    background-color: @basic-blue-blue;
  }
}

.site-creator__text {
  font-weight: 400;
  font-size: 14px;
}
