@import "../global/variables.less";

.page-header {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 40px;
  color: @basic-white;
  background-color: @basic-blue-blue;
}

.page-header__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  height: 84px;
  order: 2;
  background-color: @basic-white;
}
