@import "../global/variables.less";

.introductory-part__wrap {
  position: relative;
}

.site-name-main-page {
  position: absolute;
  top: 90px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-name-main-page__image-welcome {
  margin-bottom: 8px;
}

.site-name-main-page__image-gorgeous {
  margin-bottom: 31px;
}

.site-name-main-page__image-name {
  margin-bottom: 37px;
}

.site-slogan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 48px;
}

.site-slogan__title {
  margin: 0 0 32px 0;
  padding: 0;
  text-align: center;
}

.site-slogan__desk {
  margin: 0;
  padding: 0;
  text-align: center;
}

.first-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 34px 0 39px 0;
  background-color: @basic-blue-blue;
}

.first-content__title,
.first-content__number-one {
  margin: 0 0 21px 0;
  padding: 0;
  text-align: center;
}

.first-content__text {
  margin: 0;
  padding: 0;
  text-align: center;
}

.services-list {
  margin: 35px 0 35px 69px;
  padding: 0;
  list-style-type: none;
}

.services-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 26px 0;
  padding: 0;
}

.services-list__item:last-child {
  margin: 0;
}

.services-list__item-title {
  margin: 0 0 16px 0;
  padding: 0;
}

.services-list__item-text {
  margin: 0;
  padding: 0;
}

.second-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 39px 0 35px 0;
  background-color: @basic-blue-blue;
}

.second-reason__title,
.second-reason__number-two {
  margin: 0 0 21px 0;
  padding: 0;
  text-align: center;
}

.second-reason__text {
  margin: 0;
  padding: 0;
  text-align: center;
}

.second-reason__image {
  background-color: @basic-light-grey;
}

.other-reasons {
  margin: 0;
  background-color: @basic-light-grey;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons-list__item {
  display: block;
  margin: 0;
  padding: 26px 20px 24px 20px;
  text-align: center;
  border-bottom: 1px solid @basic-light-grey-b;
}

.reasons-list__item:last-child {
  border-bottom: none;
}

.reasons-list__item-title {
  margin: 0 0 10px 0;
  padding: 0;
}

.reasons-list__item-number-three,
.reasons-list__item-number-four,
.reasons-list__item-number-five {
  margin: 0 0 15px 0;
  padding: 0;
}

.reasons-list__item-text {
  margin: 0;
  padding: 0;
}

.hotel-search-and-booking {
  margin: 0;
  padding: 0;
}

.hotel-search-and-booking__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 33px 0 66px 0;
}

.search {
  &__title {
    margin: 0 0 18px 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: @basic-dark-grey;
  }
  display: block;
  margin: 0 0 27px 0;
  padding: 0;
  text-align: center;
}
