@import "../global/variables.less";

.page-header {
  font-size: 18px;
  line-height: 40px;
  color: @basic-white;
  background-color: @basic-blue-blue;
}

.main-nav {
  margin: 0 auto;
  background-color: @basic-blue-blue;
}

.site-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.nav-link {
  font-size: 18px;
  line-height: 40px;
  color: @basic-white;
  text-decoration: none;
}
