@import "../global/variables.less";

.introductory-part__wrap {
  position: relative;
}

.site-name-main-page {
  position: absolute;
  top: 90px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-name-main-page__image-welcome {
  margin-bottom: 8px;
}

.site-name-main-page__image-gorgeous {
  margin-bottom: 31px;
}

.site-name-main-page__image-name {
  margin-bottom: 37px;
}

.first-content {
  background-color: @basic-blue-blue;
}

.services-list {
  list-style-type: none;
}

.second-content {
  background-color: @basic-blue-blue;
}

.other-reasons {
  background-color: @basic-light-grey;
}

.reasons-list {
  list-style-type: none;
}
