@import "../global/variables.less";

.second-reason__title,
.second-reason__number-two {
  margin: 0 0 21px 0;
  padding: 0;
  text-align: center;
}

.second-reason__text {
  margin: 0;
  padding: 0;
  text-align: center;
}

.second-reason__image {
  background-color: @basic-light-grey;
}
